/* all services style start  */
.services_section {
  margin-top: 60px;
  margin-bottom: 100px;
}
.wrapper {
  max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.mainImg { 
  max-width: 100%; 
  max-height: 600px;
  margin-bottom: 40px;

}  
 /* all services style end  */
   
  /* services style start  */
  .section_tours {
    margin-bottom: 100px;
  }

  .top__title {
    margin-top: 50px;
    margin-bottom: 54px;
    font-size: 27px;
    text-align: center;
    border-bottom: 1px solid black;
    line-height: 100px;
  }

.top__cards {
    max-width: 956px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }

/* services style end  */


/* service info style start  */

.top__card {
  display: flex;
  flex-direction: column;
  max-width: 536px;
  height: 163px;
  border: 1px solid black;
 
}

.top__card:hover {
  transform: scale(1.07);
  transition: all 0.6s;
}

.backImg{
  position: relative;
  width: 100%;
  height: 100%;
}
   
.block { 
    position: absolute;
    display: flex;
    align-items: center;
  }

.service_title {
    color: white;
    margin-left: 10px;
    font-size: 23px;
   
  }