/* choose Us start */

.chooseUs{
    margin-bottom: 131px;
    background-color: #f8faff;   
}

.wrapper {
    max-width: 1060px;
      margin: 0 auto;
      padding: 0 15px;
  }
.chooseUs_title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42p;
    text-align: center;
    margin-bottom: 100px;
    border-bottom: 1px solid black;
    line-height: 100px;
}

.chooseUs_cards {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-column-gap: 55px;

}

/* choose Us end */

/* choose Us item start */
 
.chooseUs_img_wrapper {
    max-width: 150px;
    margin-bottom: 37px;

}

.chooseUs_img {
    max-width: 100%;
}

.chooseUs_card_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.chooseUs_card_des {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}
